/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	background: radial-gradient(circle, rgba(0, 0, 0, 0), #00000062),
		url(./img/bg-image.avif) no-repeat center center/ cover;
}

.bg-change {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 1) 35%,
			rgba(0, 0, 0, 0) 100%
		),
		url(./img/bg-image.avif) no-repeat center center/ cover;
}

/* Image container */
.img-container {
	visibility: hidden;
	max-width: 500px;
}

img {
	max-width: 500px;
	min-height: auto;
	align-self: baseline;
}

/* Container */
.container {
	width: 600px;
	height: 450px;
}

/* Card */
.header {
	font-size: 1rem;
}

.author {
	color: #bd2e2b;
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 2px;
}

.card {
	background-color: #e5e5e2;
}

.card-header {
	background-color: #f4f4f3;
}

.blockquote-footer {
	padding: 1rem;
	font-size: 1rem;
}

.button {
	background-color: #252525;
	color: #f4f4f3;
	border-radius: 5px;
	padding: 5px 15px;
}

.button:hover {
	background-color: #045b7c;
	transition: all 0.2s;
}

@media (max-width: 850px) {
	body {
		display: flex;
		flex: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		text-align: center;
		background: radial-gradient(circle, rgba(0, 0, 0, 0), #00000062),
			url(./img/bg-image.avif) no-repeat center center/ cover;
		background-attachment: fixed;
	}

	.bg-change {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 1) 35%,
				rgba(0, 0, 0, 0) 100%
			),
			url(./img/bg-image.avif) no-repeat center center/ cover;
	}

	.container {
		margin-top:20px;
		width: fit-content;
		order: -1;
	}

	img {
		max-width: 500px;
		max-height: 300px;
	}
}