/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 0), #00000062), url(./img/bg-image.avif) no-repeat center center/ cover;
}

/* Container */
.container {
    width: 600px;
    height: 450px;
}

/* Card */
.header {
    font-size: 1rem;
}

.author {
    color: #bd2e2b;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
}

.card {
    background-color: #e5e5e2;
}

.card-header {
    background-color: #f4f4f3;
}

.blockquote-footer {
    padding: 1rem;
    font-size: 1rem;
}

.button {
    background-color: #252525;
    color: #f4f4f3;
    border-radius: 5px;
    padding: 5px 15px;
}

